@media all and (max-width: 1325px) {

	.board {display: none;}

}

@media all and (max-width: 1130px) {

	.contain-all  {
	
	
	.left-rail {
	
		width: 63%;
	
	}
	
	.right-rail {
	
		width: 32%;
	
	}
	}

}
@media all and (max-width: 1050px) {

header nav.main ul li {
	
		&:last-child {
		
			display: block;
			
		
		}
	
		
		&:nth-child(10) {
		
			display: none;
		
		}
		
		&:nth-child(9) {
		
			display: none;
		
		}
	
		&:nth-child(11) {
		
			margin-right: 18px;
			
		    span:first-child {
		
			display: none;
			
			}
		
		}
	
	
	}
	
	 nav.responsive ul li {
		
		&:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
		
			display: none;
		
		}
	
		&:last-child {
		
			margin-right: 0px;
			margin-bottom: 0px;
		
		}
	
	}

}

@media all and (max-width: 1024px) {

	.contain-all {
	
		
		.left-rail {
		
			margin: 0 auto;
			float: none;
			width: 100%;
		
		}
		
		.right-rail {
		
			float: none;
			clear: both;
			width: 640px;
			margin: 60px auto 0px auto;
			
			.inner {
				max-width: 640px;
				}
		
		}
		
		
	&.buffer {
	
			text-align: center;
			margin-top: 50px;
	
		.hang {
	
		display: none;
	
	}
	
		#header-ad {
		
			float: none;

		
		}
	
	}
	
	&.main {
	
		margin-top: 20px;
	
	}
	
	}
	
	
	header .search-form {
	
		right: 30px;
	
	}
	
	.fixed-foot ul li:nth-child(2), .fixed-foot ul li.next  {
	
		display: none;
	
	}
	
	.widget_recent_entries ul, .top_content ul {float: left; width: 30%; margin-right: 5%;}
	.widget_recent_entries ul:last-child, .top_content ul:last-child {margin-right: 0%;}
	.widget_recent_entries ul li, .top_content ul li {clear: both; text-align: center; font-size: 12px;}
	.widget_recent_entries h2, .top_content h2 {text-align: left; border-bottom: 1px solid @col-border;}
	.contain-all .left-rail .post .filed {padding-bottom: 10px; border-bottom: 1px solid @col-border; margin-bottom: -5px;}
	.widget {text-align: center;}
	.single .bottom .widget h2, .bottom .top_content h2, .contain-all .left-rail .post.tease h2  {border-bottom: 1px solid @col-border;}
	.widget h2 {text-align: left; border-bottom: none; padding-right: 0px;}
	.bottom .widget.forum-tease {border-bottom: none; margin-bottom: 10px;}
	.widget.top_content {
	border-bottom: 1px solid @col-ccc; margin-bottom: 20px;
	
	&:after {
	
				content:"";
				display:table;
				clear:both;

			}
			
	
	}
	.right-rail .widget {display: none;}
	#top-ad {float: left;}
		#bottom-ad {float: right;}

}



@media all and (max-width: 860px) {

	 nav.main ul li {
	
		&:last-child {
		
			display: block;
		
		}
	
		&:nth-child(8) {
		
			display: none;
		
		}
		
		&:nth-child(7) {
		
			display: none;
		
		}
		
		&:nth-child(6) {
		
			display: none;
		
		}
	
	}
	
	 nav.responsive ul li {
		
			&:nth-child(6), &:nth-child(7), &:nth-child(8) {
		
			display: block;
		
		}
	
	
	}


}

@media all and (max-width: 765px) {

	#header-ad, #footer-ad {
	
		display: none;
	
	}

}

@media all and (max-width: 700px) {

	.contain-all {
	
	.left-rail {
	
		width: 100%;
		
		.post.adverts {
		
				ul {
				
					text-align: center;

				li {
				
					display: inline-block;
					float: none;
					margin: 0px;
					
					&:first-child {
					
						margin-bottom: 20px;
					
					}
				
				}
				
				}
		
		}
	
	}
	
	.right-rail {
	
		width: 100%;
	
	}
	
	}
	
	
	.table {display: block;}
}

@media all and (max-width: 667px) {
	
	#top-ad, #bottom-ad {float: none;}
		

}

@media all and (max-width: 575px) {


	.row .column.table-center {
	
		width: 457%;
	
	}

    .page-id-8373 .left-rail .post iframe {
		max-width: 80%;
		margin: 0 auto;
	
	}

	ul.player-photos li  {
	
	display: inline-block;
    width: 50%;
	
	}		
	.contain-all.player {
	
	.top {
	
		width: 92%;
		margin: 0 auto;
	
	h2 {
	 
		width: auto; 
		margin: inherit;
	 
	 }
	}
	
	}


	.widget .glyphicons, .widget.forum-tease .glyphicons {float: right;}
	.widget.forum-tease .glyphicons:before {padding-left: 0px;}

		.contain-all {width: 92%;}
		
		.contain-all.main {margin-top: 8px;}
		
		 nav.main ul li {
	
		&:last-child {
		
			display: block;
		
		}
	
		&:nth-child(5) {
		
			display: none;
		
		}
		
		&:nth-child(4) {
		
			display: none;
		
		}
		
		&:nth-child(3) {
		
			display: none;
		
		}
	
		&:nth-child(2) {
		
			display: none;
		
		}
		
		&:nth-child(11) {
		
			display: none;
		
		}
	
	}
	
		 nav.responsive ul li {
		
		
		&:nth-child(2), &:nth-child(3), &:nth-child(4),  &:nth-child(5), &:first-child  {
		
			display: block;
		
		}
		
		&:last-child {
		
			margin-bottom: 0px;
			
		
		}
		
		}
	
	
	
		.contain-all.main {
		
			width: 100%;
			
			.left-rail .post p:not(.featured):not(.content-img-wrap), .mejs-container  {
			
			width: 92% !important;
			margin: 16px auto;
			
			}

			 .left-rail .post h2, .post ul.author-share, .widget div.snap, .left-rail .post.comments, .left-rail .post ul  {
		
				width: 92%;
				margin: 0 auto;
			
			}
			
			.left-rail ul.post-categories {
				max-width: auto;
				margin: 0px 0px 0px 0px;
				width: auto;
			
			}
			
			 .left-rail .post h2 {
			 
				margin-bottom: 10px;
			 
			 }
			
			.post ul.author-share {
			margin-left: 4%;
			margin-bottom: 20px;
			
			}
			
			.right-rail {
			
				width: 92%;
				margin: 60px auto 0px auto;
			
			}
			
			.widget p {width: 100%;}
		
		#double-ad .post, #double-ad .snap {width: 100%;}
		}

	
	
	nav.responsive {width: 100%; right: 0; padding-right: 0; padding-left: 0; padding-bottom: 20px;}
	nav.responsive ul {padding-top: 70px; width: 88%; text-align: center; padding-bottom: 40px; float: none; margin: 0 auto;}
	nav.responsive ul li {float: none;}
	nav.responsive ul li:nth-child(even) {float: right; clear: none;}
	nav.responsive ul li:nth-child(odd) {float: left; clear: none;}
	nav.responsive ul li:nth-child(3),
	nav.responsive ul li:nth-child(5),
	nav.responsive ul li:nth-child(7),
	nav.responsive ul li:nth-child(9) {clear: both;}
	.search-form {z-index: 6; background: none; border: none; float: none; width: 100%; margin-top: 0px; right: 0px; padding-left: 0px; padding-right: 0px;}
	.search-form .search-field {width: 90%;}
	footer {
		
		text-align: center;
	
		ul {
	
		float: none;
		
			li {
		
				float: none;
				display: inline-block;
				margin-bottom: 5px;
				margin-left: 20px;
				margin-right: 0px;
				
				&:first-child {
				
					margin-left: 0px;
				
				}
		
			}
	
		}
		
	}
	
	.contain-all .left-rail .post .gallery-icon img {width: 75px; height: 75px;}
	
}


@media all and (max-width: 310px) {

		 nav.main ul li {
	
		&:first-child {
		
			display: none;
		
		}
		
	}	
	
	 nav.responsive ul li {
	
		&:first-child {
		
			display: block;
		
		}
		
	}	


}